*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 399px;
  gap: 30px;
  align-items: flex-end;
  max-width: 1140px;
  margin: 0 auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 711px;
}

.search-form {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  align-self: flex-start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  height: 103px;
  min-width: 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  width: 225px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.94em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 26px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  width: 390px;
  font-family: Oswald;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
}

.content__video-card-title {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 30px;
}


.search-form__checkbox:hover ~ .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__fieldset {
  width: fit-content;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-block: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: #fff;
  appearance: none;
  font-size: 18px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 0.7);
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {

  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  display: block;
  background-color: #fff;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  color: #fff;
  border: 1px solid #fff;
  padding: 6px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  height: 34px;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 100%;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 0.7);
  outline-offset: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link_current:active {
  background-color: #545050;
}